<!DOCTYPE html>
<html>
	<head>
		<title>Nationsköket</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/css/kitchen.css">
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/shared.js"></script>
		<script src="/js/template.js"></script>
		<script src="/js/kitchen.js"></script>
	</head>
	<body>
        <button v-on:click="send" id="knapp" type="submit"></button>

        <table>
            <thead>
                <tr>
                    <th>Ongoing orders</th>
                    <th>Finished orders</th>
                </tr>
            </thead>
            <tbody>
                <tr>
					<td id="ongoing"></td>
                    <td id="completed"></td>
                </tr>
            </tbody>
        </table>

		<input type="submit" id="deliveredButton" value="Delivered orders" onclick="showDelivered()"></input>

		<div id="deliveredDialog" style="display: none; " onclick="dismissDelivered(event)">
			<table>
				<thead>
					<tr>
						<th><div>Delivered orders</div><div id="deliveredCloseButton"></div></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th id="delivered"></th>
					</tr>
				</tbody>
			</table>
		</div>

		<div id="connectionStatus">Connecting...</div>

		<div class="orderClass" template:define="order" template:data="order">
			<div>
				<div class="orderButton orderButton1" template:tag="button"></div>
				<div class="orderTable"><span template:var="table"></span></div>
			</div>
			<div class="orderItems" template:var="items"></div>
			<div>
				<div class="orderOverflowContainer">
					<div class="orderOverflowButton">
						<div onclick="openOverflowMenu(event);">
							<div class="orderOverflowMenu" template:tag="overflow-menu" style="visibility: hidden; opacity: 0; ">
								<div class="orderOverflowMenuStatus">
									<div></div>
									<div></div>
									<div></div>
								</div>
								<div class="orderOverflowMenuDelete">
									Delete order
								</div>
								<div class="orderOverflowMenuCancel" onclick="closeOverflowMenu(event);">
									Cancel
								</div>
							</div>
						</div>
					</div>
				</div>
				<div template:var="time"></div>
			</div>
		</div>

		<div class="orderRight" template:define="orderItem">
			<span template:var="text"></span>
			<div class="orderItemSpecials" template:var="specials"></div>
		</div>
	</body>
</html>
