table {
    width: 100%;
    align-items: center;
	font-size: 16pt;
}
th {
    border: 1px solid black;
	font-weight: normal;
}

#delivered {
	display: block;
	min-height: 3em;
}

/*****************************/
.orderClass {
	font-size: 16pt;
    border: 2px solid teal;
    margin: 2%;
}

.rdyButton {
    background-color: orange;
    margin: 1%;
}


/*****************************/
#ongoing {
	vertical-align: top;
	width: 50%;
}

#completed {
	vertical-align: top;
	width: 50%;
}

.orderClass {
	display: flex;
	padding: 0.5em;
}

.orderClass > *:not(:first-child) {
	margin-left: 0.5em;
}

.orderButton {
	width: 4em;
	height: 4em;
	border-radius: 0.5em;
}

.orderButton1 {
	border: solid;
	border-color: rgba(0, 0, 0, 0.4);
	border-width: 0.25em;
	width: 3.5em;
	height: 3.5em;
}

.orderButton2 {
	background-color: #FFFF30;
}

.orderButton3 {
	background-color: #00FF00;
}

.orderButton4 {
	background-color: #0000FF;
}

.orderTable {
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.5);
	border-width: 0.125em;
	border-radius: 2em;

	width: 3.75em;
	height: 3.75em;

	margin-top: 0.5em;

	text-align: center;
}

.orderTable * {
	display: block;
	font-size: 1.5em;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.orderOverflowContainer {
	align-self: end;
}

.orderOverflowButton {
	display: inline-block;
	width: 4em;
	height: 4em;
	background-color: #A0A0A0;
	border-radius: 0.5em;
}

.orderOverflowMenu {
	display: flex;
	position: relative;
	width: 12em;
	top: 0;
	left: 100%;
	transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	border-radius: 0.5em;
}

.orderOverflowMenu :first-child {
	display: flex;
	flex-direction: row;
}

.orderOverflowMenu :first-child div {
	width: 4em;
	height: 4em;
}

.orderOverflowMenu :first-child :first-child {
	background-color: #FFFFFF;
	border: 0.25em solid rgba(0, 0, 0, 0.4);
	width: 3.5em;
	height: 3.5em;
	border-radius: 0.5em 0 0 0.5em;
}


.orderOverflowMenu :first-child :nth-child(2) {
	background-color: #FFFF00;
	border-radius: 0;
}

.orderOverflowMenu :first-child :nth-child(3) {
	background-color: #00FF00;
	border-radius: 0 0.5em 0.5em 0;
}

.orderOverflowButton > :last-child {
	width: 4em;
	height: 4em;
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMzJweCIgaGVpZ2h0PSIzMnB4IiB2aWV3Qm94PSIwIDAgMzIgMzIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iMTYsMjAgMTIuNTM1ODk4LDE0IDE5LjQ2NDEwMiwxNCIvPg0KPC9zdmc+');
	background-size: cover;
}

.orderItems {
	vertical-align: top;
}

.orderItems > * {
	display: block;
	font-size: 1.5em;
}

.orderItems > *:not(:first-child) {
	margin-top: 0.25em;
}

.orderClass > :last-child {
	display: flex;
	flex-direction: column;
	flex-grow: 2;
	text-align: right;
}

.orderClass > :last-child > :not(:last-child) {
	flex-grow: 2
}

.orderItemSpecials {
	padding-left: 1.5em;
	font-size: 0.75em;
	color: #FF7070;
}

/* ----------- */

#deliveredButton {
	position: absolute;
	left: 0.5em;
	bottom: 0.5em;
	padding: 0.25em;
	font-size: 16pt;
}

/* ----------- */

#deliveredDialog {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#deliveredDialog thead th {
	display: flex;
}

#deliveredDialog thead th :first-child {
	display: flex;
	flex-grow: 2;
	flex-direction: column;
	justify-content: center;
}

#deliveredCloseButton {
	width: 2em;
	height: 2em;
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMzJweCIgaGVpZ2h0PSIzMnB4IiB2aWV3Qm94PSIwIDAgMzIgMzIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIGZpbGw9IiNGRjAwMDAiIHBvaW50cz0iOCw0IDQsOCAxMiwxNiA0LDI0IDgsMjggMTYsMjAgMjQsMjggMjgsMjQgMjAsMTYgMjgsOCANCgkyNCw0IDE2LDEyIi8+DQo8L3N2Zz4NCg==');
	background-size: cover;
}

#deliveredDialog > table {
	position: absolute;
	width: 50%;
	top: 1em;
	right: 1em;
	padding: 0.25em;
	background-color: #FFFFFF;
	border: 0.05em solid black;
	border-radius: 0.25em;
}

#deliveredSpacer {
	min-height: 4em;
}

/* ----------- */

#connectionStatus {
	font-size: 2em;
	position: absolute;
	bottom: 1em;
	right: 1em;
	background-color: #ffffff;
	border: 0.05em solid black;
	border-radius: 0.25em;
	padding: 0.5em;
}

.connectionStatusConnected {
	background-color: #30FF30 !important;
}

.connectionStatusDisconnected {
	background-color: #FF3030 !important;
}
