.table-set {
    position: relative;
    border: 4px dashed black;
    padding: 1%;
}
.table  {
  background: #2db34a;
  position: absolute;
  height: 100px;
  width: 20%;
  margin: 1%;
  right: 0%;
  font-family: serif;
  font-weight: bold;
  font-size: 25px;
}

#bar {
    background-color: lightblue;
    position: relative;
    height: 100px;
    top: 50px;
    margin-right: 0%;
    margin-left: 50%;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
#hr {
    height: 3px;
    background-color: black;
    margin-left: 17%
}
#t1 {
    right: 75%;
}
#t2 {
    right: 50%;
}
#t3 {
    right: 25%;
}
#t4 {
    right: 0%;
}
#t5 {
    right: 60%;
}
#t6 {
    right: 35%;
}
#t7 {
}
#t8 {
}
#t9 {
}
#t10 {
    right: 45%;
}
#t11 {
    left: 0%;
}
#t12 {
    left: 0%;
}
#t13 {
    left: 25%;
}
#t14 {
    left: 0%;
}
